body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
h1{
font-size: 5.625rem;
 margin: 0; /*16px=100%=1em */
 font-family: 'Sacramento', cursive;
 color: #865858;
}
p{
  font-size: 1.3rem;
}

h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #865858;
}
h3{
  color: #8f4f4f;
}
.profile img{
  width: 150px;
  height:150px;
}

.top-container{
  background-color: #eec4c4;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;

}
.skill-row img {
  width: 200px;
  height: 200px;
}
.coding{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.music{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.bottom-container{
  background-color: #b7657b;
  margin-top: 50px;
  padding-top: 40px;
}
.bottom-container p{
  color: #EAF6F6;
  font-size: 10px;
  padding:  20px;
  margin-bottom: 0;
}

a{
  color:  #8f4f4f;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.btn {
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 17px;
   font-weight: 100;
   padding: 18px;
   background-color: #EEC4C4;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #CA8A8B;
   background-image: -webkit-linear-gradient(top, #CA8A8B, #F6E6E4);
   background-image: -moz-linear-gradient(top, #CA8A8B, #F6E6E4);
   background-image: -ms-linear-gradient(top, #CA8A8B, #F6E6E4);
   background-image: -o-linear-gradient(top, #CA8A8B, #F6E6E4);
   background-image: -webkit-gradient(to bottom, #CA8A8B, #F6E6E4);
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   text-decoration: none;
}
